# Simple .gitignore for Unreal Engine
#
# Cloned from Unreal Engine project's .gitignore

Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.vc.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
